<!DOCTYPE html>
<html>
	<head>
		<title>My Cart</title>
		<link rel="stylesheet" href="{{ asset('Pages/CartPage/BillingDetails/Style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
		<div id="Validation_Container">
			<div id="Validation_Window">
				<div id="Section_Top">
					<div id="Section_Content">
						<h1>Thanks For Shopping!</h1>
						<p>Your order has been received by us.</p>
						<p>Our customer service will contact you within the next 3 hours for confirmation purposes since this is a COD option.</p>

						<div id="DivOrder">
							<p>You didn&#x2019;t get your order summary ?
								<div>
									<a id="pdf-link" href="" download>Download it</a>
									<span></span>
								</div>
							</p>
						</div>
					</div>

					<img src="{{ asset('img/icon/ShoppingBag.png') }}" alt="Shopping Bag">
				</div>

				<div id="Section_Bottom">
					<span></span>
					<a id="GoHome" href="{{ path('home') }}">Back to Shop</a>
				</div>
			</div>
		</div>

		{# Header Section #}
		{% include 'components/Header/Header.html.twig' with { 'ParentPage': 'CheckOut' } %}
		{# Adding Products Section #}
		<div class="Container">
			<form id="CheckOut-form" class="CheckOut-form" method="POST" action="{{ path('PlaceOrder') }}">
				<div class="CheckOut">
					<p id="Route_Page">
						<a id="Route_Path"></a>
						<span>
							CheckOut</span>
					</p>
					<div class="CheckOut_Details">
						<div id="Left_Details">
							<h1>Billing Details</h1>
							<div id="form-group">
								<div>
									<label for="users_firstName">First Name
										<span class="required">*</span>
									</label>
									<input type="text" id="users_firstName" name="users_firstName" placeholder="Enter Your First Name" required value="{{ User_Data.firstName|default('') }}">
								</div>
								<div>
									<label for="users_lastName">Last Name
									</label>
									<input type="text" id="users_lastName" name="users_lastName" placeholder="Enter Your Last Name" value="{{ User_Data.lastName|default('') }}">
								</div>
								<div>
									<label for="users_address">Address
										<span class="required">*</span>
									</label>
									<input type="text" id="users_address" name="users_address" placeholder="Enter Your Address" required value="{{ User_Data.address|default('') }}">
								</div>
								<div>
									<label for="users_phoneNumber">Phone Number
										<span class="required">*</span>
									</label>
									<input type="tel" id="users_phoneNumber" name="users_phoneNumber" placeholder="Enter Your Phone Number" required value="{{ User_Data.phoneNumber|default('') }}">
								</div>
								<div>
									<label for="users_email">Email Address
										<span class="required">*</span>
									</label>
									<input type="email" id="users_email" name="users_email" placeholder="Enter Your Email Address" required value="{{ User_Data.email|default('') }}">
								</div>
							</div>
						</div>
						<div id="Right_Details">
							<div class="Cart_Products"></div>

							<div class="Cart_Total">
								<div>
									<p>Subtotal:
										<span id="HT"></span>
									</p>
									<span class="Seperetor_List"></span>
									<p>Shipping:
										<span id="ShippingStatus"></span>
									</p>
									<span class="Seperetor_List"></span>
									<p>Total:
										<span id="TTC"></span>
										<input id="TTCValue" type="hidden" name="TTCValue">
									</p>
								</div>
								<div id="PaymentOption-bank" class="PaymentOption">
									<input type="radio" id="BANK" name="PaymentOption" disabled/>
									<label for="BANK">Bank</label>

									<img src="{{ asset('img/icon/Visa.png') }}" alt="">
									<img src="{{ asset('img/icon/Mastercard.png') }}" alt="">
								</div>
								<div id="PaymentOption-COD" class="PaymentOption">
									<input type="radio" id="COD" name="PaymentOption" checked/>
									<label for="COD">Cash on delivery</label>

								</div>
								<div id="Coupon">
									<input type="text" name="coupon" placeholder="Coupon Code" min="0" max="25">
									<button type="button">Apply Coupon</button>
								</div>
								<button type="Submit" class="Checkout">Place Order</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		{# Footer Section #}
		{{ include('components/Footer/Footer.html.twig') }}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{ asset('js/global.js') }}"></script>
		<script src="{{ asset('Pages/CartPage/BillingDetails/main.js') }}"></script>
		<script>
			
		</script>

	</body>
</html>
