{% set connectionFailedMessage = app.flashes('connectionFailed') %}

{% if connectionFailedMessage %}
	<script>
		alert('{{ connectionFailedMessage[0] }}');
	</script>
{% endif %}

{{ form_start(signInForm, {'attr': {'id': 'registration-form', 'class': 'registration-form'},'action': path('SignInPage'), 'method': 'POST'}) }}

<div class="form-Group_Inputs">
	{{ form_row(signInForm.firstName, {'attr': {'id': 'username','name':'username', 'class': 'form-input'}}) }}
	{{ form_row(signInForm.email, {'attr': {'id': 'email','name':'email', 'class': 'form-input'}}) }}
	{{ form_row(signInForm.plainPassword, {'attr': {'id': 'password','name':'password', 'class': 'form-input'}}) }}
</div>
<div class="form-Group_buttons">
	<button type="submit" id="create-account-btn" class="btn btn-primary">
		Create Account
	</button>
</div>
{{ form_end(signInForm) }}
