<!DOCTYPE html>
<html>
	<head>
		<title>Products</title>
		<link rel="stylesheet" href="{{ asset('css/Products/updateProductPage.css') }}">
		<link rel="stylesheet" href="{{ asset('Pages/ProductsPage/Style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/Products/FormProductStyle.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
	
		{# include dashboard page #}
		{{ include('MyPages/Dashboard/dashBoard.html.twig') }}

		{# include loading message page #}
		{{ include('LoadingMessage/LoadingMessage.html.twig') }}


		{% set updateProductMessage = app.flashes('updateProduct') %}
		{% set updateProductErrorMessage = app.flashes('updateProductError') %}

		{% if updateProductMessage %}
			<script>
				alert('{{ updateProductMessage[0] }}');
			</script>
		{% endif %}

		{% if updateProductErrorMessage %}
			<script>
				alert('{{ updateProductErrorMessage[0] }}');
			</script>
		{% endif %}


		{# Adding Products Section #}
		<div class="Container" style="margin-left: 300px;">
			<div class="Categories">

				<div class="header-search">
					<div class="Section1">
						<span></span>
						<h4>Our Products</h4>
					</div>
					<form method="GET" action="{{ path('search-product-update') }}">
						<div class="searching-bar">
							<input type="text" class="searchProduct" name="searchProduct" id="searchProduct" placeholder="What are you looking for?">
							<button type="submit" class="btn-search">
								<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M21 21L16.65 16.65" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</button>
						</div>
					</form>
				</div>


				<div id="updateProduct" class="popup">
					<div class="popup-content">
						<div class="btn-close" style="margin-bottom: 20px">
							<span class="close-btn" onclick="closePopup()">X</span>
						</div>
						{{ form_start(form, {'action': path('updateProduct'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data'}}) }}
						<input type="hidden" name="productId" id="productId">
						<div class="form-group">
							{{ form_row(form.name, {'attr': {'class': 'custom-name-field'}}) }}
							{{ form_row(form.price, {'attr': {'class': 'custom-price-field'}}) }}
						</div>
						<div class="form-group">
							{{ form_row(form.stock, {'attr': {'class': 'custom-stock-field'}}) }}
							{{ form_row(form.category, {'attr': {'class': 'custom-category-field'}}) }}
						</div>

						<div class="form-group-description">
							{{ form_row(form.description, {'attr': {'class': 'custom-description-field'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.tags, {'attr': {'class': 'custom-tags-field'}}) }}
						</div>

						<div class="form-group">
							{{ form_row(form.itemImage, {'attr': {'class': 'custom-item-image', 'onchange': 'previewImage(event)'}}) }}
							<div class="image-preview-container">
								<img id="imagePreview" src="{{ asset('img/No_Img.png') }}" alt="Image Preview" class="image-preview"/>
							</div>
						</div>

						<br>
						<button type="submit" class="submit-add-product">Update Product</button>
						{{ form_end(form) }}
					</div>
				</div>


				<div class="ProductList" id="searchResults">
					{% for item in items %}
						<div
							class="Product" id="{{ item.id }}">
							
							<div class="ProductImage">
								{% if item.itemImage %}
									<img src="data:image/jpeg;base64,{{ item.itemImage|base64_encode }}" alt="{{ item.name }}">
								{% else %}
									<img src="{{ asset('img/No_Img.png') }}" alt="{{ item.name }}">
								{% endif %}
								<button onclick="openPopup( {{ item.id }} )">Edit Product</button>
							</div>
							
							<h6>{{item.name}}</h6>
							<div class="ProductInfo">
								<span>{{item.price}} DH</span>
								<span style="color: green;">&#40; {{ item.stock}} In Stock &#41;</span>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<script src="{{ asset('Pages/WishlistPage/main.js') }}"></script>
	</body>
	<script src="{{ asset('js/global.js') }}"></script>
	<script src="{{ asset('Pages/ProductsPage/main.js') }}" defer></script>
</html>
