{# Adding StyleSheet #}
<head>
	<link rel="stylesheet" href="{{ ('Pages/LandingPage/Style.css') }}">
</head>

{# Adding Html #}
<div class="Container" id="HeroSection">
	<div class="left_container">
		<ul>
			<li><a href="#">Woman&apos;s Fashion<span></span></a></li>
			<li><a href="#">Men&apos;s Fashion<span></span></a></li>
			<li><a href="#">Electronics<span></span></a></li>
			<li><a href="#">Home &amp; Lifestyle<span></span></a></li>
			<li><a href="#">Medicine<span></span></a></li>
			<li><a href="#">Sports &amp; Outdoor<span></span></a></li>
			<li><a href="#">Baby&apos;s &amp; Toys<span></span></a></li>
			<li><a href="#">Groceries &amp; Pets<span></span></a></li>
			<li><a href="#">Health &amp; Beauty<span></span></a></li>
		</ul>
	</div>
	<div class="right_container">
		<img id="HeroSection_Image" src="{{ ('img/HeroSection.png') }}" alt="Landing Page Image">
	</div>

</div>

<div class="Container">
	<div class="Categories">
		<div class="Section1">
			<span></span>
			<h4>Categories</h4>
		</div>
		<div class="Section2">
			<h5>Browse By Category</h5>
		</div>
		<div class="Section3">
			<a href="{{ path('searchByCategory', {'categoryName': 'Phones'}) }}">
				<svg width="66" height="66" viewbox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M43.9375 11.125H22.0625C20.5523 11.125 19.3281 12.3492 19.3281 13.8594V52.1406C19.3281 53.6508 20.5523 54.875 22.0625 54.875H43.9375C45.4477 54.875 46.6719 53.6508 46.6719 52.1406V13.8594C46.6719 12.3492 45.4477 11.125 43.9375 11.125Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M30.667 12H36.1357" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M33 49.0059V49.0311" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
					<line x1="20.167" y1="44.834" x2="45.8337" y2="44.834" stroke="black" stroke-width="2"/>
				</svg>
				<span>Phones</span>
			</a>
			<a href="{{ path('searchByCategory', {'categoryName': 'Computers'}) }}">
				<svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M46.6667 9.33398H9.33333C8.04467 9.33398 7 10.3787 7 11.6673V35.0007C7 36.2893 8.04467 37.334 9.33333 37.334H46.6667C47.9553 37.334 49 36.2893 49 35.0007V11.6673C49 10.3787 47.9553 9.33398 46.6667 9.33398Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16.3335 46.666H39.6668" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M21 37.334V46.6673" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M35 37.334V46.6673" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M8 32H48" stroke="black" stroke-width="2" stroke-linecap="round"/>
				</svg>
				<span>Computers</span>
			</a>
			<a href="{{ path('searchByCategory', {'categoryName': 'SmartWatch'}) }}">
				<svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M35 14H21C17.134 14 14 17.134 14 21V35C14 38.866 17.134 42 21 42H35C38.866 42 42 38.866 42 35V21C42 17.134 38.866 14 35 14Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M21 42V49H35V42" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M21 14V7H35V14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<line x1="24" y1="23" x2="24" y2="34" stroke="black" stroke-width="2" stroke-linecap="round"/>
					<line x1="28" y1="28" x2="28" y2="34" stroke="black" stroke-width="2" stroke-linecap="round"/>
					<line x1="32" y1="26" x2="32" y2="34" stroke="black" stroke-width="2" stroke-linecap="round"/>
				</svg>
				<span>SmartWatch</span>
			</a>
			<a href="{{ path('searchByCategory', {'categoryName': 'Camera'}) }}">
				<svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.6667 16.334H14C15.2377 16.334 16.4247 15.8423 17.2998 14.9671C18.175 14.092 18.6667 12.905 18.6667 11.6673C18.6667 11.0485 18.9125 10.455 19.3501 10.0174C19.7877 9.57982 20.3812 9.33398 21 9.33398H35C35.6188 9.33398 36.2123 9.57982 36.6499 10.0174C37.0875 10.455 37.3333 11.0485 37.3333 11.6673C37.3333 12.905 37.825 14.092 38.7002 14.9671C39.5753 15.8423 40.7623 16.334 42 16.334H44.3333C45.571 16.334 46.758 16.8256 47.6332 17.7008C48.5083 18.576 49 19.763 49 21.0007V42.0006C49 43.2383 48.5083 44.4253 47.6332 45.3005C46.758 46.1757 45.571 46.6673 44.3333 46.6673H11.6667C10.429 46.6673 9.242 46.1757 8.36683 45.3005C7.49167 44.4253 7 43.2383 7 42.0006V21.0007C7 19.763 7.49167 18.576 8.36683 17.7008C9.242 16.8256 10.429 16.334 11.6667 16.334" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M28 37.334C31.866 37.334 35 34.2 35 30.334C35 26.468 31.866 23.334 28 23.334C24.134 23.334 21 26.468 21 30.334C21 34.2 24.134 37.334 28 37.334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<span>Camera</span>
			</a>
			<a href="{{ path('searchByCategory', {'categoryName': 'HeadPhones'}) }}">
				<svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.3335 30.334H14.0002C11.4228 30.334 9.3335 32.4233 9.3335 35.0007V42.0007C9.3335 44.578 11.4228 46.6673 14.0002 46.6673H16.3335C18.9108 46.6673 21.0002 44.578 21.0002 42.0007V35.0007C21.0002 32.4233 18.9108 30.334 16.3335 30.334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M42 30.334H39.6667C37.0893 30.334 35 32.4233 35 35.0007V42.0007C35 44.578 37.0893 46.6673 39.6667 46.6673H42C44.5773 46.6673 46.6667 44.578 46.6667 42.0007V35.0007C46.6667 32.4233 44.5773 30.334 42 30.334Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M9.3335 35.0007V28.0007C9.3335 23.0499 11.3002 18.302 14.8008 14.8013C18.3015 11.3006 23.0495 9.33398 28.0002 9.33398C32.9509 9.33398 37.6988 11.3006 41.1995 14.8013C44.7002 18.302 46.6668 23.0499 46.6668 28.0007V35.0007" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<span>HeadPhones</span>
			</a>
			<a href="{{ path('searchByCategory', {'categoryName': 'Gaming'}) }}">
				<svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M46.6665 14H9.33317C6.75584 14 4.6665 16.0893 4.6665 18.6667V37.3333C4.6665 39.9107 6.75584 42 9.33317 42H46.6665C49.2438 42 51.3332 39.9107 51.3332 37.3333V18.6667C51.3332 16.0893 49.2438 14 46.6665 14Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M14 28.0007H23.3333M18.6667 23.334V32.6673" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M35 25.666V25.6902" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M42 30.334V30.3582" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				<span>Gaming</span>
			</a>
		</div>
	</div>
</div>
<div class="Container">
	<div id="PubAd_img">
		<img src="{{ ('img/PubAd_img.png') }}" alt="Pub Image">
	</div>
</div>
{# Adding the Product list #}
{% include 'Components/Products/Products.html.twig' with { 'items': items } %}

{# Adding the Trust_Ad #}
<div class="Container">
	<div class="Trust_Ad">
		<div>
			<div class="Trust_Icons">
				<svg width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="29" cy="29" r="29" fill="black"/>
					<path d="M21.1668 40.6667C23.0078 40.6667 24.5002 39.1743 24.5002 37.3333C24.5002 35.4924 23.0078 34 21.1668 34C19.3259 34 17.8335 35.4924 17.8335 37.3333C17.8335 39.1743 19.3259 40.6667 21.1668 40.6667Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M37.8333 40.6667C39.6743 40.6667 41.1667 39.1743 41.1667 37.3333C41.1667 35.4924 39.6743 34 37.8333 34C35.9924 34 34.5 35.4924 34.5 37.3333C34.5 39.1743 35.9924 40.6667 37.8333 40.6667Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M17.8335 37.334H16.5002C15.3956 37.334 14.5002 36.4386 14.5002 35.334V30.6673M12.8335 17.334H29.1668C30.2714 17.334 31.1668 18.2294 31.1668 19.334V37.334M24.5002 37.334H34.5002M41.1668 37.334H42.5002C43.6047 37.334 44.5002 36.4386 44.5002 35.334V27.334M44.5002 27.334H31.1668M44.5002 27.334L40.0828 19.9717C39.7213 19.3692 39.0703 19.0007 38.3678 19.0007H31.1668" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M17.5 37H16.1667C15.0621 37 14.1667 36.1046 14.1667 35V30.3333M12.5 17H28.8333C29.9379 17 30.8333 17.8954 30.8333 19V37M24.5 37H34.1667M41.5 37H42.1667C43.2712 37 44.1667 36.1046 44.1667 35V27M44.1667 27H30.8333M44.1667 27L39.7493 19.6377C39.3878 19.0353 38.7368 18.6667 38.0343 18.6667H30.8333" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M14.5 20.8184H21.1667" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M11.3184 24.4551H17.985" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M14.5 28.0918H21.1667" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
			<h6>FREE AND FAST DELIVERY</h6>
			<p>Free delivery for all orders over $140</p>
		</div>

		<div>
			<div class="Trust_Icons">
				<svg width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="29" cy="29" r="29" fill="black"/>
					<path d="M22.6667 32.3333C22.6667 30.4924 21.1743 29 19.3333 29C17.4924 29 16 30.4924 16 32.3333V35.6667C16 37.5076 17.4924 39 19.3333 39C21.1743 39 22.6667 37.5076 22.6667 35.6667V32.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M42.6667 32.3333C42.6667 30.4924 41.1743 29 39.3333 29C37.4924 29 36 30.4924 36 32.3333V35.6667C36 37.5076 37.4924 39 39.3333 39C41.1743 39 42.6667 37.5076 42.6667 35.6667V32.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M16 32.3333V27.3333C16 23.7971 17.4048 20.4057 19.9052 17.9052C22.4057 15.4048 25.7971 14 29.3333 14C32.8696 14 36.2609 15.4048 38.7614 17.9052C41.2619 20.4057 42.6667 23.7971 42.6667 27.3333V32.3333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M39.3335 39C39.3335 40.3261 38.2799 41.5979 36.4046 42.5355C34.5292 43.4732 31.9857 44 29.3335 44" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			</div>
			<h6>24/7 CUSTOMER SERVICE</h6>
			<p>Friendly 24/7 customer support</p>
		</div>

		<div>
			<div class="Trust_Icons">
				<svg width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="29" cy="29" r="29" fill="black"/>
					<path d="M17.0989 39.5997L17.0987 39.5995C16.226 38.9488 15.4254 37.9211 14.8426 36.7595C14.2597 35.5978 13.9165 34.3456 13.9165 33.2671V20.8671C13.9165 18.5078 15.6713 15.9623 17.891 15.1356L17.892 15.1353L26.2082 12.0187C26.2083 12.0187 26.2084 12.0187 26.2085 12.0187C26.9619 11.7371 27.9614 11.5879 28.9832 11.5879C30.005 11.5879 31.0044 11.7371 31.7579 12.0187C31.758 12.0187 31.7581 12.0187 31.7581 12.0187L40.0744 15.1353L40.0753 15.1356C42.295 15.9623 44.0498 18.5078 44.0498 20.8671V33.2504C44.0498 34.3375 43.7064 35.5897 43.1239 36.7488C42.5414 37.9078 41.7409 38.9318 40.8676 39.5829L40.8674 39.5831L33.7007 44.9331L33.7007 44.933L33.6945 44.9378C32.4118 45.9268 30.7239 46.4337 28.9998 46.4337C27.2772 46.4337 25.585 45.9274 24.2647 44.949C24.2645 44.9489 24.2644 44.9488 24.2642 44.9487L17.0989 39.5997ZM26.7417 13.4319L26.741 13.4322L18.4244 16.5489L18.4237 16.5491C17.5961 16.8607 16.8549 17.523 16.3239 18.2911C15.7928 19.0595 15.4332 19.9902 15.4332 20.8837V33.2671C15.4332 34.1615 15.7438 35.1897 16.2008 36.1015C16.6576 37.0131 17.2931 37.8727 18.0007 38.401L18.0007 38.4011L25.1671 43.7508C26.2291 44.545 27.6281 44.9254 29.0019 44.9254C30.3759 44.9254 31.7781 44.5449 32.8476 43.752L32.8489 43.7511L40.0156 38.4011L40.0165 38.4004C40.7313 37.8643 41.3667 37.0055 41.8221 36.0948C42.2774 35.1842 42.5832 34.1605 42.5832 33.2671V20.8671C42.5832 19.9809 42.2227 19.0542 41.6924 18.2869C41.1619 17.5194 40.4221 16.8545 39.5975 16.5343L39.5975 16.5343L39.592 16.5322L31.2753 13.4155L31.2753 13.4154L31.2662 13.4122C30.6281 13.187 29.8 13.0836 29.0006 13.0858C28.2019 13.088 27.375 13.1956 26.7417 13.4319ZM40.2497 14.6675L40.2497 14.6675L40.2497 14.6675Z" fill="#FAFAFA" stroke="#FAFAFA"/>
					<path d="M26.413 30.0541L26.7666 30.4076L27.1201 30.0541L33.4035 23.7707C33.6915 23.4827 34.1749 23.4827 34.463 23.7707C34.7511 24.0588 34.7511 24.5422 34.463 24.8303L27.2963 31.997C27.1451 32.1483 26.9578 32.2172 26.7666 32.2172C26.5754 32.2172 26.3881 32.1483 26.2368 31.997L23.5535 29.3136C23.2654 29.0256 23.2654 28.5421 23.5535 28.2541C23.8415 27.966 24.3249 27.966 24.613 28.2541L26.413 30.0541Z" fill="#FAFAFA" stroke="#FAFAFA"/>
				</svg>
			</div>
			<h6>MONEY BACK GUARANTEE</h6>
			<p>We reurn money within 30 days</p>
		</div>
	</div>
</div>
<script src="{{ asset('js/global.js') }}"></script>
<script src="{{('Pages/LandingPage/main.js')}}"></script>