<!DOCTYPE html>
<html>
	<head>
		<title>My Account</title>
		<link rel="stylesheet" href="{{ asset('Pages/AccountPage/Style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
		{# Header Section #}
		{% include 'components/Header/Header.html.twig' with { 'ParentPage': 'My Account' } %}

		{# Adding Form and Contents #}
		<div class="Container">
			<div class="Top_Section">
				<p id="Route_Page">
					<a id="Route_Path"></a>
					<span>Account</span>
				</p>

				<p id="Account_Name">Welcome
					<span>{{ User_Data.firstName ? User_Data.firstName : "" }}</span>
				</p>
			</div>
			<div class="Mid_Section">
				<div class="Left_Section">
					<h3>Manage My Account</h3>
					<br/>
					<ul class="linksList">
						<li id="Profile">My Profile</li>
						<li id="AddressBook">Address Book</li>
						<li id="Payment">My Payment Options</li>
					</ul>
					<br/>
					<h3>My Orders</h3>
					<ul class="linksList">
						<li id="Returns">My Returns</li>
						<li id="Cancellations">My Cancellations</li>
					</ul>
					<br/>
					<a href="{{ path('wishlist') }}"><h3 class="linksList" id="Cancellations">My WishList</h3></a>
				</div>
				<div class="Right_Section">
					{{ form_start(form, {'attr': {'id': 'Edite_Profile', 'class': 'Edite_Profile'},'action': path('UpdateAccountPage'), 'method': 'POST'}) }}
					<h2>Edit Your Profile</h2>

					<div class="Section">
						<div>
							{{ form_label(form.firstName) }}
							{{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'value': User_Data.firstName|default('')}}) }}
						</div>
						<div>
							{{ form_label(form.lastName) }}
							{{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'value': User_Data.lastName|default('')}}) }}
						</div>
					</div>

					<div class="Section">
						<div>
							{{ form_label(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control', 'value': User_Data.email|default('')}}) }}
						</div>
						<div>
							{{ form_label(form.address) }}
							{{ form_widget(form.address, {'attr': {'class': 'form-control', 'value': User_Data.address|default('')}}) }}
						</div>
					</div>

					<div class="Section">
						<div>
							{{ form_label(form.phoneNumber) }}
							{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control', 'value': User_Data.phoneNumber|default('')}}) }}
						</div>
						<div>
							{{ form_label(form.username) }}
							{{ form_widget(form.username, {'attr': {'class': 'form-control', 'value': User_Data.username|default('')}}) }}
						</div>
					</div>

					<div class="Section">
						<div>
							{{ form_row(form.currentPassword, {'attr': {'id': 'Current_Password', 'class': 'form-control'}}) }}
							{{ form_row(form.newPassword, {'attr': {'id': 'New_Password', 'class': 'form-control'}}) }}
							{{ form_widget(form.confirmPassword, {'attr': {'id': 'Confirm_Password', 'class': 'form-control'}}) }}
						</div>
					</div>


					<div class="Section">
						<span id="StatusMsg"></span>
						<div>
							<button class="Reset_BtnForm" type="reset">Cancel</button>
							<button id="Submit_BtnForm" class="Submit_BtnForm" type="submit">Save Changes</button>
						</div>
					</div>
					{{ form_end(form) }}

					{# Error Msg's #}
					<p class="Form_ErrorMsg">There appears to be an issue with the server
						<span>💭</span>
						Please try again at a later time.
					</p>
					<div class="Msg_404">
						<img src="{{ asset('img/Msg404.webp') }}" alt="404- Still in the development process.">
						<p>We are still in the development process.</p>
					</div>
				</div>
			</div>
		</div>

		{# Footer Section #}
		{{ include('components/Footer/Footer.html.twig') }}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{ asset('js/global.js') }}"></script>
		<script src="{{ asset('Pages/AccountPage/main.js') }}"></script>
		<script> const Status = "{{ Status }}"; if (Status) {updateStatus(Status)};  </script> 
		<script src="{{ asset('js/syncLocalStorage.js') }}"></script>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<script>document.addEventListener("DOMContentLoaded", function () {sendLocalStorageData();}); </script>
		{% endif %}
	</body>
</html>
