<!DOCTYPE html>
<html>
	<head>
		<title>Contact us</title>
		<link rel="stylesheet" href="{{ asset('Pages/ContactPage/Style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
		{# Header Section #}
		{% include 'components/Header/Header.html.twig' with { 'ParentPage': 'Contact' } %}
		{# Adding Form Section #}
		<div class="Container">
			<p id="Route_Page">
				<a id="Route_Path"></a>
				<span>
					Contact</span>
			</p>
			<div class="Contact">
				<div class="Contact-LeftSection">
					<div class="TopSection">
						<div>
							<svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="40" height="40" rx="20" fill="#DB4444"/>
								<path d="M18.5542 14.2391L15.1712 10.3341C14.7812 9.88405 14.0662 9.88605 13.6132 10.3401L10.8312 13.1271C10.0032 13.9561 9.76623 15.1871 10.2452 16.1741C13.1069 22.099 17.8853 26.8841 23.8062 29.7541C24.7922 30.2331 26.0222 29.9961 26.8502 29.1671L29.6582 26.3541C30.1132 25.8991 30.1142 25.1801 29.6602 24.7901L25.7402 21.4251C25.3302 21.0731 24.6932 21.1191 24.2822 21.5311L22.9182 22.8971C22.8484 22.9702 22.7565 23.0185 22.6566 23.0344C22.5567 23.0503 22.4543 23.0329 22.3652 22.9851C20.1357 21.7012 18.2862 19.8493 17.0052 17.6181C16.9573 17.5288 16.9399 17.4263 16.9558 17.3262C16.9717 17.2261 17.02 17.134 17.0932 17.0641L18.4532 15.7031C18.8652 15.2891 18.9102 14.6491 18.5542 14.2381V14.2391Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<h3>Call To Us</h3>
						</div>
						<div>
							<p>We are availabel 24/7, 7 days a week.</p>
							<p>Phone:
								<span style="font-size: 12px;">(+212)</span>
								82 545 7391
							</p>
						</div>
					</div>

					<span id="Seperatorline"></span>

					<div class="BottomSection">
						<div>
							<svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="40" height="40" rx="20" fill="#DB4444"/>
								<path d="M10 13L20 20L30 13M10 27H30V13H10V27Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<h3>Write To US</h3>
						</div>
						<div>
							<p>Fill out our form and we will contact you within 24 hours.</p>
							<p>Emails: customer@exclusive.com</p>
							<p>Emails: support@exclusive.com</p>
						</div>
					</div>

				</div>
				<div class="Contact-RightSection">
					<form id="MailingContact-form" class="MailingContact-form" method="POST" action="{{ path('clientSendEmail') }}">

						<div id="UserInfo">
							<input type="text" name="FirstName" id="FirstName" placeholder="Your Name *" value="{{FirstName}}" required>
							<input type="email" name="Email" id="Email" placeholder="Your Email *" value="{{Email}}" required>
							<input type="tel" name="PhoneNumber" id="PhoneNumber" placeholder="Your Phone *" value="{{PhoneNumber}}" required>
						</div>

						<div id="Comment">
							<textarea name="CommentText" id="CommentText" rows="5" cols="33" placeholder="Your Massage" required></textarea>
						</div>

						<div id="Buttons">
							<button type="Reset" id="ResetButton">Reset</button>
							<button type="Submit" id="SubmitButton">Send Massage</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		{# Header Section #}
		{% include 'components/Footer/Footer.html.twig' %}

	<script src="{{ asset('js/global.js') }}"></script>
		<script src="{{ asset('Pages/ContactPage/main.js') }}"></script>
		<script> 
	
</script>
	</body>
</html>
