<!DOCTYPE html>
<html>
	<head>
		<title>About us</title>
		<link rel="stylesheet" href="{{ asset('Pages/AboutUsPage/Style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
		{# Header Section #}
		{% include 'components/Header/Header.html.twig' with { 'ParentPage': 'About' } %}
		{# Adding Form Section #}
		<div class="Container">
			<p id="Route_Page">
				<a id="Route_Path"></a>
				<span>
					About</span>
			</p>
		</div>

		<div class="WrapperContainer">
			<div class="Wrapper">
				<div class="TextSection">
					<h1>Our Story</h1>
					<p>Launced in 2015, Exclusive is North Africa&#39;s &#40;Morocco&#41; premier online shopping makterplace with an active presense in Bangladesh. Supported by wide range of tailored marketing, data and service solutions, Exclusive has 10,500 sallers and 300 brands and serves 3 millioons customers across the region.</p>
					<p>
						Exclusive has more than 1 Million products to offer, growing at a very fast. Exclusive offers a diverse assotment in categories ranging  from consumer.</p>
				</div>
				<div class="ImageSection">
					<img src="{{ asset('img/WomanShopping.png') }}" alt="Woman Shopping">
				</div>
			</div>
		</div>

		<div class="Container">
			<div class="Cards-container" id="Cards-scroll">
				<div class="Cards">
					<svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="40" cy="40" r="40" fill="#C1C1C1"/>
						<circle cx="40" cy="40" r="30" fill="black"/>
						<path d="M54.4824 25H47.8291L48.6624 33.3333C48.6624 33.3333 50.3291 35 52.8291 35C54.1414 35.0017 55.4092 34.524 56.3941 33.6567C56.4982 33.5594 56.5758 33.4372 56.6195 33.3016C56.6633 33.166 56.6717 33.0214 56.6441 32.8817L55.4674 25.8333C55.4281 25.6005 55.3076 25.3891 55.1273 25.2366C54.947 25.084 54.7186 25.0002 54.4824 25V25Z" stroke="white" stroke-width="2"/>
						<path d="M47.8291 25L48.6624 33.3333C48.6624 33.3333 46.9958 35 44.4958 35C41.9958 35 40.3291 33.3333 40.3291 33.3333V25H47.8291Z" stroke="#FAFAFA" stroke-width="2"/>
						<path d="M40.3294 25V33.3333C40.3294 33.3333 38.6628 35 36.1628 35C33.6628 35 31.9961 33.3333 31.9961 33.3333L32.8294 25H40.3294Z" stroke="#FAFAFA" stroke-width="2"/>
						<path d="M32.8291 25H26.1774C25.9407 24.9999 25.7117 25.0838 25.5311 25.2367C25.3504 25.3896 25.2298 25.6016 25.1908 25.835L24.0158 32.8833C23.9883 33.0231 23.9968 33.1676 24.0406 33.3032C24.0843 33.4387 24.1618 33.5609 24.2658 33.6583C24.8124 34.1417 26.0341 35.0017 27.8291 35.0017C30.3291 35.0017 31.9958 33.335 31.9958 33.335L32.8291 25.0017V25Z" stroke="#FAFAFA" stroke-width="2"/>
						<path d="M25.3408 35V51.6667C25.3408 52.5507 25.692 53.3986 26.3171 54.0237C26.9423 54.6488 27.7901 55 28.6742 55H52.0075C52.8915 55 53.7394 54.6488 54.3645 54.0237C54.9896 53.3986 55.3408 52.5507 55.3408 51.6667V35" stroke="#FAFAFA" stroke-width="2"/>
						<path d="M45.0625 55V45C45.0625 44.1159 44.7113 43.2681 44.0862 42.6429C43.4611 42.0178 42.6132 41.6666 41.7292 41.6666H38.3958C37.5118 41.6666 36.6639 42.0178 36.0388 42.6429C35.4137 43.2681 35.0625 44.1159 35.0625 45V55" stroke="#FAFAFA" stroke-width="2" stroke-miterlimit="16"/>
					</svg>
					<p>40.5k</p>
					<p>Last sales &#40;3 months&#41;</p>
				</div>
				<div class="Cards">
					<svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="40" cy="40" r="40" fill="#C1C1C1"/>
						<circle cx="40" cy="40" r="30" fill="black"/>
						<path d="M40.2727 57.5455C49.8122 57.5455 57.5455 49.8122 57.5455 40.2727C57.5455 30.7333 49.8122 23 40.2727 23C30.7333 23 23 30.7333 23 40.2727C23 49.8122 30.7333 57.5455 40.2727 57.5455Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M45.3638 34.8197C45.0344 34.2485 44.5559 33.7777 43.9794 33.4575C43.4029 33.1373 42.7502 32.9799 42.0911 33.0021H38.4547C37.4903 33.0021 36.5654 33.3851 35.8834 34.0668C35.2015 34.7486 34.8184 35.6732 34.8184 36.6374C34.8184 37.6015 35.2015 38.5262 35.8834 39.208C36.5654 39.8897 37.4903 40.2727 38.4547 40.2727H42.0911C43.0555 40.2727 43.9804 40.6557 44.6624 41.3375C45.3443 42.0193 45.7275 42.9439 45.7275 43.9081C45.7275 44.8722 45.3443 45.7969 44.6624 46.4786C43.9804 47.1604 43.0555 47.5434 42.0911 47.5434H38.4547C37.7956 47.5656 37.1429 47.4082 36.5664 47.088C35.9899 46.7678 35.5114 46.2969 35.182 45.7257" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M40.2725 28.4545V32.3939M40.2725 48.1515V52.0909" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p>11k</p>
					<p>Monthly Sales</p>
				</div>
				<div class="Cards">
					<svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="40" cy="40" r="40" fill="#C1C1C1"/>
						<circle cx="40" cy="40" r="30" fill="black"/>
						<path d="M32 31.3332V27.9999C32 27.0347 32.2794 26.0901 32.8044 25.2802C33.3295 24.4703 34.0777 23.8297 34.9588 23.4356C35.8399 23.0416 36.8162 22.911 37.7699 23.0596C38.7236 23.2083 39.6139 23.6298 40.3333 24.2732C41.0528 23.6298 41.943 23.2083 42.8967 23.0596C43.8504 22.911 44.8267 23.0416 45.7079 23.4356C46.589 23.8297 47.3372 24.4703 47.8622 25.2802C48.3873 26.0901 48.6666 27.0347 48.6667 27.9999V31.3332H51.1667C51.8297 31.3332 52.4656 31.5966 52.9344 32.0655C53.4033 32.5343 53.6667 33.1702 53.6667 33.8332V50.5082C53.6667 52.0531 53.053 53.5347 51.9606 54.6271C50.8682 55.7195 49.3866 56.3332 47.8417 56.3332H33.6667C31.8986 56.3332 30.2029 55.6308 28.9526 54.3806C27.7024 53.1304 27 51.4347 27 49.6666V33.8332C27 33.1702 27.2634 32.5343 27.7322 32.0655C28.2011 31.5966 28.837 31.3332 29.5 31.3332H32ZM43.0583 53.8332C42.3784 52.8579 42.0148 51.6971 42.0167 50.5082V33.8332H29.5V49.6666C29.5 50.2137 29.6078 50.7556 29.8172 51.2611C30.0266 51.7666 30.3335 52.2259 30.7204 52.6128C31.1073 52.9997 31.5666 53.3067 32.0722 53.5161C32.5777 53.7255 33.1195 53.8332 33.6667 53.8332H43.0583ZM39.5 31.3332V27.9999C39.5 27.3368 39.2366 26.701 38.7678 26.2321C38.2989 25.7633 37.663 25.4999 37 25.4999C36.337 25.4999 35.7011 25.7633 35.2322 26.2321C34.7634 26.701 34.5 27.3368 34.5 27.9999V31.3332H39.5ZM42 31.3332H46.1667V27.9999C46.1667 27.4853 46.008 26.9832 45.7121 26.5622C45.4162 26.1411 44.9975 25.8217 44.5133 25.6474C44.0291 25.4731 43.503 25.4525 43.0066 25.5884C42.5103 25.7242 42.0679 26.01 41.74 26.4066C41.9083 26.9066 42 27.4432 42 27.9999V31.3332ZM44.5167 50.5082C44.5167 51.3901 44.867 52.2358 45.4905 52.8594C46.1141 53.4829 46.9598 53.8332 47.8417 53.8332C48.7235 53.8332 49.5692 53.4829 50.1928 52.8594C50.8164 52.2358 51.1667 51.3901 51.1667 50.5082V33.8332H44.5167V50.5082Z" fill="white"/>
					</svg>
					<p>22.5k</p>
					<p>Active Customer</p>
				</div>
				<div class="Cards">
					<svg width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="40" cy="40" r="40" fill="#C1C1C1"/>
						<circle cx="40" cy="40" r="30" fill="black"/>
						<path d="M40.8868 37.8362V38.3362L41.3868 38.3362C42.0506 38.3362 42.698 38.542 43.2399 38.9252C43.7819 39.3084 44.1918 39.8501 44.4131 40.4759C44.4317 40.5288 44.4397 40.5848 44.4368 40.6407C44.4338 40.6968 44.4198 40.7517 44.3956 40.8023C44.3714 40.8529 44.3374 40.8983 44.2957 40.9358C44.254 40.9733 44.2052 41.0022 44.1523 41.0209C44.0994 41.0396 44.0433 41.0477 43.9873 41.0447C43.9313 41.0417 43.8764 41.0277 43.8257 41.0035C43.7235 40.9546 43.6448 40.8671 43.6071 40.7603L43.607 40.76C43.4446 40.301 43.1439 39.9035 42.7463 39.6225C42.3486 39.3414 41.8736 39.1906 41.3867 39.1907L40.8868 39.1908V39.6907V43.3998V43.8998H41.3868C42.2379 43.8998 43.0541 44.2379 43.656 44.8397C44.2578 45.4415 44.5959 46.2577 44.5959 47.1088C44.5959 47.9599 44.2578 48.7761 43.656 49.378C43.0541 49.9798 42.2379 50.3179 41.3868 50.3179H40.8868V50.8179V51.2451H40.0323V50.8179V50.3179L39.5323 50.3179C38.8685 50.3179 38.2211 50.1121 37.6792 49.7289C37.1372 49.3457 36.7274 48.8039 36.506 48.1781L36.5062 48.1781L36.5012 48.165C36.4806 48.1117 36.471 48.0548 36.4728 47.9977C36.4746 47.9406 36.4879 47.8844 36.5118 47.8325C36.5357 47.7807 36.5697 47.7341 36.6119 47.6956C36.6541 47.6571 36.7036 47.6275 36.7575 47.6084C36.8114 47.5894 36.8685 47.5814 36.9255 47.5848C36.9826 47.5882 37.0383 47.6031 37.0895 47.6284C37.1407 47.6538 37.1863 47.6892 37.2236 47.7324C37.2609 47.7757 37.2891 47.826 37.3066 47.8804L37.3088 47.8875L37.3113 47.8945C37.6358 48.8092 38.5074 49.4633 39.5323 49.4633H40.0323V48.9633V45.2543V44.7543H39.5323C38.6812 44.7543 37.865 44.4162 37.2632 43.8144C36.6613 43.2126 36.3232 42.3963 36.3232 41.5452C36.3232 40.6942 36.6613 39.8779 37.2632 39.2761C37.865 38.6743 38.6812 38.3362 39.5323 38.3362H40.0323V37.8362V37.4089H40.8868V37.8362ZM40.0323 39.6907V39.1907H39.5323C38.9078 39.1907 38.3089 39.4388 37.8674 39.8803C37.4258 40.3219 37.1778 40.9208 37.1778 41.5452C37.1778 42.1697 37.4258 42.7686 37.8674 43.2101C38.3089 43.6517 38.9078 43.8998 39.5323 43.8998H40.0323V43.3998V39.6907ZM40.8868 48.9633V49.4633H41.3868C42.0113 49.4633 42.6102 49.2153 43.0517 48.7737C43.4933 48.3322 43.7413 47.7333 43.7413 47.1088C43.7413 46.4844 43.4933 45.8855 43.0517 45.4439C42.6102 45.0024 42.0113 44.7543 41.3868 44.7543H40.8868V45.2543V48.9633Z" fill="#FAFAFA" stroke="#FAFAFA"/>
						<path d="M47.7285 32.2677L47.9591 32.5108C49.8571 34.5116 51.4448 36.7853 52.6695 39.2563L52.6705 39.2583C53.9463 41.8609 54.6627 44.5039 54.5457 46.8206L54.5457 46.8207C54.4313 49.0818 53.5306 51.0477 51.4808 52.4965L51.4808 52.4966C49.3719 53.9866 45.9057 55.0241 40.4944 55.0241C35.0788 55.0241 31.5986 54.0047 29.4721 52.5327L29.4719 52.5325C27.4084 51.1025 26.4966 49.1625 26.3691 46.9279L47.7285 32.2677ZM47.7285 32.2677L47.416 32.3886M47.7285 32.2677L47.416 32.3886M47.416 32.3886C43.0672 34.0703 37.8297 34.0703 33.4809 32.3904L33.3007 32.8568L32.9342 32.5167C31.1163 34.4761 29.4246 36.8803 28.2099 39.3834L28.2099 39.3835M47.416 32.3886L28.2099 39.3835M28.2099 39.3835C26.9394 42.0029 26.2374 44.6337 26.3691 46.9277L28.2099 39.3835ZM50.3018 25.8719C50.7422 26.0898 51.1232 26.2981 51.4365 26.4848L48.3047 31.0631L48.073 31.4017L48.3599 31.695C50.2983 33.6766 52.1287 36.2069 53.4394 38.8825C54.7525 41.5627 55.5269 44.353 55.4 46.864C55.2741 49.3543 54.2644 51.5768 51.9752 53.1941C49.6641 54.8269 45.9972 55.8786 40.4953 55.8786C34.9922 55.8786 31.3133 54.8456 28.987 53.2347C26.6835 51.6395 25.6581 49.4448 25.517 46.9762C25.3747 44.4857 26.1347 41.7058 27.4425 39.0106C28.7479 36.3205 30.5818 33.7503 32.5402 31.6898L32.8179 31.3977L32.5913 31.0643L29.4815 26.4885C29.6388 26.3958 29.8126 26.298 30.002 26.1971L30.002 26.1971L30.0037 26.1962C30.1943 26.0937 30.3998 25.9882 30.6203 25.8807L30.8162 25.7851C33.0624 24.7146 36.6235 23.5 40.4953 23.5C44.3974 23.5 47.9565 24.7334 50.1755 25.8106L50.3002 25.8711C50.3007 25.8714 50.3013 25.8717 50.3018 25.8719ZM49.6707 27.5523L50.2558 26.6969L49.2221 26.7713C46.6286 26.9581 43.5593 27.5653 40.6143 28.418C38.6304 28.9911 36.3977 28.9098 34.2928 28.5216C33.7636 28.4235 33.238 28.3067 32.717 28.1714L31.4316 27.8377L32.1777 28.9363L33.9581 31.5577L34.05 31.6929L34.204 31.7478C38.1282 33.1448 42.7586 33.1448 46.6835 31.7497L46.516 31.2786L46.9287 31.5609L49.6707 27.5523ZM34.4467 27.681L34.4471 27.6811C36.482 28.0559 38.5669 28.1203 40.3757 27.5964L40.3765 27.5962C42.3449 27.0227 44.347 26.5717 46.3711 26.2458L46.4358 25.2733C44.6943 24.749 42.6495 24.3545 40.4944 24.3545C37.2126 24.3545 34.1653 25.2684 32.039 26.1709L32.2344 26.6312L32.0918 27.1104C32.8486 27.3356 33.6411 27.5319 34.4467 27.681Z" fill="#FAFAFA" stroke="#FAFAFA"/>
					</svg>
					<p>30k</p>
					<p>Anual gross sale</p>
				</div>
			</div>

			<div class="PersonnaCards">
				<div class="Personna">
					<div class="ImageContainer" title="Isma'il Lalami the Founder &#38; Chairman">
					<img src="{{ asset('img/Personna/P01.jpg') }}" alt="Photo of Isma'il Lalami">
					</div>
					<p>Isma'il Lalami</p>
					<p>Founder &#38; Chairman</p>
					<div class="Icons">
					<div title="LinkedIn Account">
							<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 6.05C9.417 5.113 10.611 4.5 12 4.5C13.4587 4.5 14.8576 5.07946 15.8891 6.11091C16.9205 7.14236 17.5 8.54131 17.5 10V17.5H15.5V10C15.5 9.07174 15.1313 8.1815 14.4749 7.52513C13.8185 6.86875 12.9283 6.5 12 6.5C11.0717 6.5 10.1815 6.86875 9.52513 7.52513C8.86875 8.1815 8.5 9.07174 8.5 10V17.5H6.5V5H8.5V6.05ZM1.5 3C1.10218 3 0.720644 2.84196 0.43934 2.56066C0.158035 2.27936 0 1.89782 0 1.5C0 1.10218 0.158035 0.720644 0.43934 0.43934C0.720644 0.158035 1.10218 0 1.5 0C1.89782 0 2.27936 0.158035 2.56066 0.43934C2.84196 0.720644 3 1.10218 3 1.5C3 1.89782 2.84196 2.27936 2.56066 2.56066C2.27936 2.84196 1.89782 3 1.5 3ZM0.5 5H2.5V17.5H0.5V5Z" fill="black"/>
							</svg>
						</div>
						<div title="Instagram Account">
							<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15 1H5C3.93913 1 2.92172 1.42143 2.17157 2.17157C1.42143 2.92172 1 3.93913 1 5V15C1 16.0609 1.42143 17.0783 2.17157 17.8284C2.92172 18.5786 3.93913 19 5 19H15C16.0609 19 17.0783 18.5786 17.8284 17.8284C18.5786 17.0783 19 16.0609 19 15V5C19 3.93913 18.5786 2.92172 17.8284 2.17157C17.0783 1.42143 16.0609 1 15 1Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M10 14C11.0609 14 12.0783 13.5786 12.8284 12.8284C13.5786 12.0783 14 11.0609 14 10C14 8.93913 13.5786 7.92172 12.8284 7.17157C12.0783 6.42143 11.0609 6 10 6C8.93913 6 7.92172 6.42143 7.17157 7.17157C6.42143 7.92172 6 8.93913 6 10C6 11.0609 6.42143 12.0783 7.17157 12.8284C7.92172 13.5786 8.93913 14 10 14V14Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M15.5 5.5C15.7652 5.5 16.0196 5.39464 16.2071 5.20711C16.3946 5.01957 16.5 4.76522 16.5 4.5C16.5 4.23478 16.3946 3.98043 16.2071 3.79289C16.0196 3.60536 15.7652 3.5 15.5 3.5C15.2348 3.5 14.9804 3.60536 14.7929 3.79289C14.6054 3.98043 14.5 4.23478 14.5 4.5C14.5 4.76522 14.6054 5.01957 14.7929 5.20711C14.9804 5.39464 15.2348 5.5 15.5 5.5Z" fill="black"/>
							</svg>
						</div>
						<div title="Twitter Account">
							<svg width="21" height="17" viewbox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.905 2.00129C13.145 2.00116 12.4153 2.29941 11.8729 2.83185C11.3305 3.3643 11.0189 4.08838 11.005 4.84829L10.977 6.42329C10.9754 6.50785 10.9559 6.59111 10.9198 6.66761C10.8837 6.74411 10.8319 6.81211 10.7676 6.86717C10.7034 6.92222 10.6283 6.96307 10.5472 6.98705C10.4661 7.01102 10.3808 7.01758 10.297 7.00629L8.736 6.79429C6.682 6.51429 4.714 5.56829 2.826 3.99529C2.228 7.30529 3.396 9.59829 6.209 11.3673L7.956 12.4653C8.03901 12.5175 8.10797 12.5892 8.15685 12.6741C8.20573 12.7591 8.23304 12.8548 8.23639 12.9528C8.23975 13.0507 8.21905 13.1481 8.17609 13.2362C8.13314 13.3243 8.06924 13.4006 7.99 13.4583L6.398 14.6213C7.345 14.6803 8.244 14.6383 8.99 14.4903C13.708 13.5483 16.845 9.99829 16.845 4.14229C16.845 3.66429 15.833 2.00129 13.905 2.00129V2.00129ZM9.005 4.81129C9.02245 3.84734 9.32389 2.90996 9.87156 2.11651C10.4192 1.32306 11.1888 0.708806 12.0839 0.350653C12.979 -0.00749937 13.9599 -0.0936341 14.9037 0.103034C15.8476 0.299701 16.7124 0.770431 17.39 1.45629C18.101 1.45129 18.706 1.63129 20.059 0.811287C19.724 2.45129 19.559 3.16329 18.845 4.14229C18.845 11.7843 14.148 15.5003 9.382 16.4513C6.114 17.1033 1.362 16.0323 0 14.6103C0.694 14.5563 3.514 14.2533 5.144 13.0603C3.765 12.1513 -1.724 8.92129 1.883 0.237286C3.576 2.21429 5.293 3.56029 7.033 4.27429C8.191 4.74929 8.475 4.73929 9.006 4.81229L9.005 4.81129Z" fill="black"/>
							</svg>
						</div>
					</div>
				</div>
				<div class="Personna">
					<div class="ImageContainer" title="Chaymaa Ibrahim the Managing Director">
						<img src="{{ asset('img/Personna/P02.jpg') }}" alt="Photo of Chaymaa Ibrahim">
					</div>
					<p>Chaymaa Ibrahim</p>
					<p>Managing Director</p>
					<div class="Icons">
					<div title="LinkedIn Account">
							<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 6.05C9.417 5.113 10.611 4.5 12 4.5C13.4587 4.5 14.8576 5.07946 15.8891 6.11091C16.9205 7.14236 17.5 8.54131 17.5 10V17.5H15.5V10C15.5 9.07174 15.1313 8.1815 14.4749 7.52513C13.8185 6.86875 12.9283 6.5 12 6.5C11.0717 6.5 10.1815 6.86875 9.52513 7.52513C8.86875 8.1815 8.5 9.07174 8.5 10V17.5H6.5V5H8.5V6.05ZM1.5 3C1.10218 3 0.720644 2.84196 0.43934 2.56066C0.158035 2.27936 0 1.89782 0 1.5C0 1.10218 0.158035 0.720644 0.43934 0.43934C0.720644 0.158035 1.10218 0 1.5 0C1.89782 0 2.27936 0.158035 2.56066 0.43934C2.84196 0.720644 3 1.10218 3 1.5C3 1.89782 2.84196 2.27936 2.56066 2.56066C2.27936 2.84196 1.89782 3 1.5 3ZM0.5 5H2.5V17.5H0.5V5Z" fill="black"/>
							</svg>
						</div>
						<div title="Instagram Account">
							<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15 1H5C3.93913 1 2.92172 1.42143 2.17157 2.17157C1.42143 2.92172 1 3.93913 1 5V15C1 16.0609 1.42143 17.0783 2.17157 17.8284C2.92172 18.5786 3.93913 19 5 19H15C16.0609 19 17.0783 18.5786 17.8284 17.8284C18.5786 17.0783 19 16.0609 19 15V5C19 3.93913 18.5786 2.92172 17.8284 2.17157C17.0783 1.42143 16.0609 1 15 1Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M10 14C11.0609 14 12.0783 13.5786 12.8284 12.8284C13.5786 12.0783 14 11.0609 14 10C14 8.93913 13.5786 7.92172 12.8284 7.17157C12.0783 6.42143 11.0609 6 10 6C8.93913 6 7.92172 6.42143 7.17157 7.17157C6.42143 7.92172 6 8.93913 6 10C6 11.0609 6.42143 12.0783 7.17157 12.8284C7.92172 13.5786 8.93913 14 10 14V14Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M15.5 5.5C15.7652 5.5 16.0196 5.39464 16.2071 5.20711C16.3946 5.01957 16.5 4.76522 16.5 4.5C16.5 4.23478 16.3946 3.98043 16.2071 3.79289C16.0196 3.60536 15.7652 3.5 15.5 3.5C15.2348 3.5 14.9804 3.60536 14.7929 3.79289C14.6054 3.98043 14.5 4.23478 14.5 4.5C14.5 4.76522 14.6054 5.01957 14.7929 5.20711C14.9804 5.39464 15.2348 5.5 15.5 5.5Z" fill="black"/>
							</svg>
						</div>
						<div title="Twitter Account">
							<svg width="21" height="17" viewbox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.905 2.00129C13.145 2.00116 12.4153 2.29941 11.8729 2.83185C11.3305 3.3643 11.0189 4.08838 11.005 4.84829L10.977 6.42329C10.9754 6.50785 10.9559 6.59111 10.9198 6.66761C10.8837 6.74411 10.8319 6.81211 10.7676 6.86717C10.7034 6.92222 10.6283 6.96307 10.5472 6.98705C10.4661 7.01102 10.3808 7.01758 10.297 7.00629L8.736 6.79429C6.682 6.51429 4.714 5.56829 2.826 3.99529C2.228 7.30529 3.396 9.59829 6.209 11.3673L7.956 12.4653C8.03901 12.5175 8.10797 12.5892 8.15685 12.6741C8.20573 12.7591 8.23304 12.8548 8.23639 12.9528C8.23975 13.0507 8.21905 13.1481 8.17609 13.2362C8.13314 13.3243 8.06924 13.4006 7.99 13.4583L6.398 14.6213C7.345 14.6803 8.244 14.6383 8.99 14.4903C13.708 13.5483 16.845 9.99829 16.845 4.14229C16.845 3.66429 15.833 2.00129 13.905 2.00129V2.00129ZM9.005 4.81129C9.02245 3.84734 9.32389 2.90996 9.87156 2.11651C10.4192 1.32306 11.1888 0.708806 12.0839 0.350653C12.979 -0.00749937 13.9599 -0.0936341 14.9037 0.103034C15.8476 0.299701 16.7124 0.770431 17.39 1.45629C18.101 1.45129 18.706 1.63129 20.059 0.811287C19.724 2.45129 19.559 3.16329 18.845 4.14229C18.845 11.7843 14.148 15.5003 9.382 16.4513C6.114 17.1033 1.362 16.0323 0 14.6103C0.694 14.5563 3.514 14.2533 5.144 13.0603C3.765 12.1513 -1.724 8.92129 1.883 0.237286C3.576 2.21429 5.293 3.56029 7.033 4.27429C8.191 4.74929 8.475 4.73929 9.006 4.81229L9.005 4.81129Z" fill="black"/>
							</svg>
						</div>
					</div>
				</div>
				<div class="Personna">
					<div class="ImageContainer" title="Biswajeet Sobhan the Product Designer">
					<img src="{{ asset('img/Personna/P03.jpg') }}" alt="Photo of Biswajeet Sobhan">
					</div>
					<p>Biswajeet Sobhan</p>
					<p>Product Designer</p>
					<div class="Icons">
						<div title="LinkedIn Account">
							<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M8.5 6.05C9.417 5.113 10.611 4.5 12 4.5C13.4587 4.5 14.8576 5.07946 15.8891 6.11091C16.9205 7.14236 17.5 8.54131 17.5 10V17.5H15.5V10C15.5 9.07174 15.1313 8.1815 14.4749 7.52513C13.8185 6.86875 12.9283 6.5 12 6.5C11.0717 6.5 10.1815 6.86875 9.52513 7.52513C8.86875 8.1815 8.5 9.07174 8.5 10V17.5H6.5V5H8.5V6.05ZM1.5 3C1.10218 3 0.720644 2.84196 0.43934 2.56066C0.158035 2.27936 0 1.89782 0 1.5C0 1.10218 0.158035 0.720644 0.43934 0.43934C0.720644 0.158035 1.10218 0 1.5 0C1.89782 0 2.27936 0.158035 2.56066 0.43934C2.84196 0.720644 3 1.10218 3 1.5C3 1.89782 2.84196 2.27936 2.56066 2.56066C2.27936 2.84196 1.89782 3 1.5 3ZM0.5 5H2.5V17.5H0.5V5Z" fill="black"/>
							</svg>
						</div>
						<div title="Instagram Account">
							<svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15 1H5C3.93913 1 2.92172 1.42143 2.17157 2.17157C1.42143 2.92172 1 3.93913 1 5V15C1 16.0609 1.42143 17.0783 2.17157 17.8284C2.92172 18.5786 3.93913 19 5 19H15C16.0609 19 17.0783 18.5786 17.8284 17.8284C18.5786 17.0783 19 16.0609 19 15V5C19 3.93913 18.5786 2.92172 17.8284 2.17157C17.0783 1.42143 16.0609 1 15 1Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M10 14C11.0609 14 12.0783 13.5786 12.8284 12.8284C13.5786 12.0783 14 11.0609 14 10C14 8.93913 13.5786 7.92172 12.8284 7.17157C12.0783 6.42143 11.0609 6 10 6C8.93913 6 7.92172 6.42143 7.17157 7.17157C6.42143 7.92172 6 8.93913 6 10C6 11.0609 6.42143 12.0783 7.17157 12.8284C7.92172 13.5786 8.93913 14 10 14V14Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
								<path d="M15.5 5.5C15.7652 5.5 16.0196 5.39464 16.2071 5.20711C16.3946 5.01957 16.5 4.76522 16.5 4.5C16.5 4.23478 16.3946 3.98043 16.2071 3.79289C16.0196 3.60536 15.7652 3.5 15.5 3.5C15.2348 3.5 14.9804 3.60536 14.7929 3.79289C14.6054 3.98043 14.5 4.23478 14.5 4.5C14.5 4.76522 14.6054 5.01957 14.7929 5.20711C14.9804 5.39464 15.2348 5.5 15.5 5.5Z" fill="black"/>
							</svg>
						</div>
						<div title="Twitter Account">
							<svg width="21" height="17" viewbox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.905 2.00129C13.145 2.00116 12.4153 2.29941 11.8729 2.83185C11.3305 3.3643 11.0189 4.08838 11.005 4.84829L10.977 6.42329C10.9754 6.50785 10.9559 6.59111 10.9198 6.66761C10.8837 6.74411 10.8319 6.81211 10.7676 6.86717C10.7034 6.92222 10.6283 6.96307 10.5472 6.98705C10.4661 7.01102 10.3808 7.01758 10.297 7.00629L8.736 6.79429C6.682 6.51429 4.714 5.56829 2.826 3.99529C2.228 7.30529 3.396 9.59829 6.209 11.3673L7.956 12.4653C8.03901 12.5175 8.10797 12.5892 8.15685 12.6741C8.20573 12.7591 8.23304 12.8548 8.23639 12.9528C8.23975 13.0507 8.21905 13.1481 8.17609 13.2362C8.13314 13.3243 8.06924 13.4006 7.99 13.4583L6.398 14.6213C7.345 14.6803 8.244 14.6383 8.99 14.4903C13.708 13.5483 16.845 9.99829 16.845 4.14229C16.845 3.66429 15.833 2.00129 13.905 2.00129V2.00129ZM9.005 4.81129C9.02245 3.84734 9.32389 2.90996 9.87156 2.11651C10.4192 1.32306 11.1888 0.708806 12.0839 0.350653C12.979 -0.00749937 13.9599 -0.0936341 14.9037 0.103034C15.8476 0.299701 16.7124 0.770431 17.39 1.45629C18.101 1.45129 18.706 1.63129 20.059 0.811287C19.724 2.45129 19.559 3.16329 18.845 4.14229C18.845 11.7843 14.148 15.5003 9.382 16.4513C6.114 17.1033 1.362 16.0323 0 14.6103C0.694 14.5563 3.514 14.2533 5.144 13.0603C3.765 12.1513 -1.724 8.92129 1.883 0.237286C3.576 2.21429 5.293 3.56029 7.033 4.27429C8.191 4.74929 8.475 4.73929 9.006 4.81229L9.005 4.81129Z" fill="black"/>
							</svg>
						</div>
					</div>
				</div>
			</div>

			<div class="Trust_Ad">
				<div>
					<div class="Trust_Icons">
						<svg width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="29" cy="29" r="29" fill="black"/>
							<path d="M21.1668 40.6667C23.0078 40.6667 24.5002 39.1743 24.5002 37.3333C24.5002 35.4924 23.0078 34 21.1668 34C19.3259 34 17.8335 35.4924 17.8335 37.3333C17.8335 39.1743 19.3259 40.6667 21.1668 40.6667Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M37.8333 40.6667C39.6743 40.6667 41.1667 39.1743 41.1667 37.3333C41.1667 35.4924 39.6743 34 37.8333 34C35.9924 34 34.5 35.4924 34.5 37.3333C34.5 39.1743 35.9924 40.6667 37.8333 40.6667Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M17.8335 37.334H16.5002C15.3956 37.334 14.5002 36.4386 14.5002 35.334V30.6673M12.8335 17.334H29.1668C30.2714 17.334 31.1668 18.2294 31.1668 19.334V37.334M24.5002 37.334H34.5002M41.1668 37.334H42.5002C43.6047 37.334 44.5002 36.4386 44.5002 35.334V27.334M44.5002 27.334H31.1668M44.5002 27.334L40.0828 19.9717C39.7213 19.3692 39.0703 19.0007 38.3678 19.0007H31.1668" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M17.5 37H16.1667C15.0621 37 14.1667 36.1046 14.1667 35V30.3333M12.5 17H28.8333C29.9379 17 30.8333 17.8954 30.8333 19V37M24.5 37H34.1667M41.5 37H42.1667C43.2712 37 44.1667 36.1046 44.1667 35V27M44.1667 27H30.8333M44.1667 27L39.7493 19.6377C39.3878 19.0353 38.7368 18.6667 38.0343 18.6667H30.8333" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M14.5 20.8184H21.1667" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M11.3184 24.4551H17.985" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M14.5 28.0918H21.1667" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					<h6>FREE AND FAST DELIVERY</h6>
					<p>Free delivery for all orders over $140</p>
				</div>

				<div>
					<div class="Trust_Icons">
						<svg width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="29" cy="29" r="29" fill="black"/>
							<path d="M22.6667 32.3333C22.6667 30.4924 21.1743 29 19.3333 29C17.4924 29 16 30.4924 16 32.3333V35.6667C16 37.5076 17.4924 39 19.3333 39C21.1743 39 22.6667 37.5076 22.6667 35.6667V32.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M42.6667 32.3333C42.6667 30.4924 41.1743 29 39.3333 29C37.4924 29 36 30.4924 36 32.3333V35.6667C36 37.5076 37.4924 39 39.3333 39C41.1743 39 42.6667 37.5076 42.6667 35.6667V32.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M16 32.3333V27.3333C16 23.7971 17.4048 20.4057 19.9052 17.9052C22.4057 15.4048 25.7971 14 29.3333 14C32.8696 14 36.2609 15.4048 38.7614 17.9052C41.2619 20.4057 42.6667 23.7971 42.6667 27.3333V32.3333" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M39.3335 39C39.3335 40.3261 38.2799 41.5979 36.4046 42.5355C34.5292 43.4732 31.9857 44 29.3335 44" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</div>
					<h6>24/7 CUSTOMER SERVICE</h6>
					<p>Friendly 24/7 customer support</p>
				</div>

				<div>
					<div class="Trust_Icons">
						<svg width="58" height="58" viewbox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="29" cy="29" r="29" fill="black"/>
							<path d="M17.0989 39.5997L17.0987 39.5995C16.226 38.9488 15.4254 37.9211 14.8426 36.7595C14.2597 35.5978 13.9165 34.3456 13.9165 33.2671V20.8671C13.9165 18.5078 15.6713 15.9623 17.891 15.1356L17.892 15.1353L26.2082 12.0187C26.2083 12.0187 26.2084 12.0187 26.2085 12.0187C26.9619 11.7371 27.9614 11.5879 28.9832 11.5879C30.005 11.5879 31.0044 11.7371 31.7579 12.0187C31.758 12.0187 31.7581 12.0187 31.7581 12.0187L40.0744 15.1353L40.0753 15.1356C42.295 15.9623 44.0498 18.5078 44.0498 20.8671V33.2504C44.0498 34.3375 43.7064 35.5897 43.1239 36.7488C42.5414 37.9078 41.7409 38.9318 40.8676 39.5829L40.8674 39.5831L33.7007 44.9331L33.7007 44.933L33.6945 44.9378C32.4118 45.9268 30.7239 46.4337 28.9998 46.4337C27.2772 46.4337 25.585 45.9274 24.2647 44.949C24.2645 44.9489 24.2644 44.9488 24.2642 44.9487L17.0989 39.5997ZM26.7417 13.4319L26.741 13.4322L18.4244 16.5489L18.4237 16.5491C17.5961 16.8607 16.8549 17.523 16.3239 18.2911C15.7928 19.0595 15.4332 19.9902 15.4332 20.8837V33.2671C15.4332 34.1615 15.7438 35.1897 16.2008 36.1015C16.6576 37.0131 17.2931 37.8727 18.0007 38.401L18.0007 38.4011L25.1671 43.7508C26.2291 44.545 27.6281 44.9254 29.0019 44.9254C30.3759 44.9254 31.7781 44.5449 32.8476 43.752L32.8489 43.7511L40.0156 38.4011L40.0165 38.4004C40.7313 37.8643 41.3667 37.0055 41.8221 36.0948C42.2774 35.1842 42.5832 34.1605 42.5832 33.2671V20.8671C42.5832 19.9809 42.2227 19.0542 41.6924 18.2869C41.1619 17.5194 40.4221 16.8545 39.5975 16.5343L39.5975 16.5343L39.592 16.5322L31.2753 13.4155L31.2753 13.4154L31.2662 13.4122C30.6281 13.187 29.8 13.0836 29.0006 13.0858C28.2019 13.088 27.375 13.1956 26.7417 13.4319ZM40.2497 14.6675L40.2497 14.6675L40.2497 14.6675Z" fill="#FAFAFA" stroke="#FAFAFA"/>
							<path d="M26.413 30.0541L26.7666 30.4076L27.1201 30.0541L33.4035 23.7707C33.6915 23.4827 34.1749 23.4827 34.463 23.7707C34.7511 24.0588 34.7511 24.5422 34.463 24.8303L27.2963 31.997C27.1451 32.1483 26.9578 32.2172 26.7666 32.2172C26.5754 32.2172 26.3881 32.1483 26.2368 31.997L23.5535 29.3136C23.2654 29.0256 23.2654 28.5421 23.5535 28.2541C23.8415 27.966 24.3249 27.966 24.613 28.2541L26.413 30.0541Z" fill="#FAFAFA" stroke="#FAFAFA"/>
						</svg>
					</div>
					<h6>MONEY BACK GUARANTEE</h6>
					<p>We reurn money within 30 days</p>
				</div>
			</div>
		</div>


		{# Header Section #}
		{% include 'components/Footer/Footer.html.twig' %}

		<script src="{{ asset('js/global.js') }}"></script>
		<script src="{{ asset('Pages/AboutUsPage/main.js') }}"></script>
		<script></script>
	</body>
</html>
