<!DOCTYPE html>
<html>
	<head>
		<title>Connecting</title>
		<link rel="stylesheet" href="{{ asset('Pages/ConnectingPage/Style.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
		{# Header Section #}
		{% include 'components/Header/Header.html.twig' with { 'ParentPage': 'Connecting' } %}
		{# Adding Content Section #}
		<main class="main-container">
			<div class="connection-wrapper">
				<img src="{{ asset("img/Connection_Img.png") }}" alt="Connection illustration" class="connection-image"/>
				<div id="signIn-registration" class="registration-section">
					<div class="registration-header">
						<h1>Create an account</h1>
						<p>Enter your details below</p>
					</div>

					{# **** adding the SignIn Form **** #}
					{{ include('Components/SignIn/SignIn.html.twig') }}

					<div class="login-redirect">
						<label for="login-link">Already have an account?</label>
						<button id="login-link" class="btn btn-secondary" onclick="SwitchTo('logIn')">
							Log in
						</button>
					</div>
				</div>
				{# **** Seperator **** #}
				<div id="logIn-registration" class="registration-section">
					<div
						class="registration-header">
						{# <h1>{{ app.user ? "You are logged in as ${ app.user.email }" : "Log in to Exclusive"}}</h1> #}
						<h1>Log in to Exclusive</h1>
						<p>Enter your details below</p>
					</div>
					{# **** adding the logIn Form **** #}
					{{ include('Components/logIn/logIn.html.twig') }}

					<div class="login-redirect">
						<label for="login-link">Don't have an account?</label>
						<button id="login-link" class="btn btn-secondary" onclick="SwitchTo('signIn')">
							Sign up
						</button>
					</div>
				</div>
			</div>
		</main>
		{# Footer Section #}
		{{ include('components/Footer/Footer.html.twig') }}
		<script src="{{ asset('js/global.js') }}"></script>
		<script src="{{ asset('Pages/ConnectingPage/main.js') }}"></script>
		<script>
{# document.addEventListener('DOMContentLoaded', function () {
// Switch to login form if the sign-in was successful
{% if sign_in_successful %}
SwitchTo('logIn');
{% endif %}});
 #}

let sign_in_successful = {{ sign_in_successful ? sign_in_successful : false }};

document.addEventListener('DOMContentLoaded', function () { // Switch to login form if the sign-in was successful
if (sign_in_successful) {
SwitchTo('logIn');
}
});

		</script>


	</body>
</html>
