<!-- filepath: /D:/VS.Code/MySymfony/Symfony_eCom/templates/items/addItemPage.html.twig -->

<!DOCTYPE html>
<html>
	<head>
		<title>Add Item</title>
		<link rel="stylesheet" href="{{ asset('css/FormPageStyle.css') }}">
	</head>
	<body>
		<div class="container">
			<h1>Add Item</h1>

			{{ form_start(form, {'action': path('addItem'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data'}}) }}
			{{ form_row(form.name) }}
			{{ form_row(form.description) }}
			{{ form_row(form.price) }}
			{{ form_row(form.category) }}
			{{ form_row(form.stock) }}

			<br>
			<button type="submit">Add Product</button>
			<a href="{{ path('listItems') }}">
			<button type="button">Product List</button>
			</a>
			{{ form_end(form) }}
		</div>
	</body>
</html>
