
<!DOCTYPE html>
<html>
	<head>
		<title>Add Item</title>
		<link rel="stylesheet" href="{{ asset('css/FormPageStyle.css') }}">
	</head>
	<body>
		<div class="container">
			<h1>Add Item</h1>

			{{ form_start(form, {'action': path('addItem'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data'}}) }}
			{{ form_row(form.name, {'attr': {'class': 'custom-name-field'}}) }}
			{{ form_row(form.description, {'attr': {'class': 'custom-description-field'}}) }}
			{{ form_row(form.price, {'attr': {'class': 'custom-price-field'}}) }}
			{{ form_row(form.category, {'attr': {'class': 'custom-category-field'}}) }}
			{{ form_row(form.stock, {'attr': {'class': 'custom-stock-field'}}) }}
			{{ form_row(form.itemImage, {'attr': {'class': 'custom-item-image'}}) }}

			<br>
			<button type="submit">Add Product</button>
			<a href="{{ path('home') }}">
			<button type="button">View Products</button>
			</a>
			{{ form_end(form) }}
		</div>
	</body>
</html>