<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Add Item</title>
		<link rel="stylesheet" href="{{ asset('css/FormPageStyle.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
		<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

		<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tagSelector = document.querySelectorAll('.tag-selector input[type="checkbox"]');
        const selectedTagsField = document.querySelector('.selected-tags-field');

        // Update the textarea when tags are selected or deselected
        const updateSelectedTags = () => {
            const selectedTags = Array.from(tagSelector)
                .filter(tag => tag.checked)
                .map(tag => tag.labels[0].innerText);
            selectedTagsField.value = selectedTags.join(', ');
        };

        // Add event listeners to all checkboxes
        tagSelector.forEach(tag => {
            tag.addEventListener('change', updateSelectedTags);
        });

        // Initialize the textarea with preselected tags if applicable
        updateSelectedTags();
    });
</script>

	</head>
	<body>
		{{ include('items/dashBoard.html.twig') }}

		{% for message in app.flashes('addProduct') %}
			<script>
				alert('{{ message }}');
			</script>
		{% endfor %}
		{% for message in app.flashes('addProductError') %}
			<script>
				alert('{{ message }}');
			</script>
		{% endfor %}

		<div class="container">
			<h1>Add Product</h1>
			{{ form_start(form, {'action': path('addItem'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data'}}) }}
			<div class="form-group">
				{{ form_row(form.name, {'attr': {'class': 'custom-name-field'}}) }}
				{{ form_row(form.price, {'attr': {'class': 'custom-price-field'}}) }}
			</div>
			<div class="form-group">
				{{ form_row(form.stock, {'attr': {'class': 'custom-stock-field'}}) }}
				{{ form_row(form.category, {'attr': {'class': 'custom-category-field'}}) }}
			</div>

			<div class="form-group-description">
				{{ form_row(form.description, {'attr': {'class': 'custom-description-field'}}) }}
			</div>

			<div class="form-group">
				{{ form_row(form.tags, {'attr': {'class': 'custom-tags-field'}}) }}
			</div>

			<div class="form-group">
				{{ form_row(form.itemImage, {'attr': {'class': 'custom-item-image', 'onchange': 'previewImage(event)'}}) }}
				<div class="image-preview-container">
					<img id="imagePreview" src="{{ asset('img/No_Img.png') }}" alt="Image Preview" class="image-preview"/>
				</div>
			</div>

			<br>
			<button type="submit" class="submit-add-product">Add Product</button>
			{{ form_end(form) }}
		</div>
	</body>
</html>
