<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Add Item</title>
		<link rel="stylesheet" href="{{ asset('css/FormPageStyle.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
		{{ include('items/dashBoard.html.twig') }}

		{% for message in app.flashes('addProduct') %}
			<script>
				alert('{{ message }}');
			</script>
		{% endfor %}
		
		<div class="container">
			<h1>Add Product</h1>
			{{ form_start(form, {'action': path('addItem'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data'}}) }}
			<div class="form-group">
				{{ form_row(form.name, {'attr': {'class': 'custom-name-field'}}) }}
				{{ form_row(form.price, {'attr': {'class': 'custom-price-field'}}) }}
			</div>
			<div class="form-group">
				{{ form_row(form.stock, {'attr': {'class': 'custom-stock-field'}}) }}
				{{ form_row(form.category, {'attr': {'class': 'custom-category-field'}}) }}
			</div>
			<div class="form-group-description">
				{{ form_row(form.description, {'attr': {'class': 'custom-description-field'}}) }}
			</div>
			<div class="form-group">
				{{ form_row(form.itemImage, {'attr': {'class': 'custom-item-image', 'onchange': 'previewImage(event)'}}) }}
				<div class="image-preview-container">
					<img id="imagePreview" src="{{ asset('img/No_Img.png') }}" alt="Image Preview" class="image-preview"/>
				</div>
			</div>


			<br>
			<button type="submit">Add Product</button>
			<a href="{{ path('home') }}">
				<button type="button">View Products</button>
			</a>
			{{ form_end(form) }}
		</div>
	</body>
</html>