<!DOCTYPE html>
<html>
	<head>
		<title>Add Item</title>
		<link rel="stylesheet" href="{{ asset('css/FormPageStyle.css') }}">
	</head>
	<body>
		<div class="container">
			<h1>Add a New Item</h1>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">{{ message }}</div>
			{% endfor %}

			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button type="submit">Submit</button>
			{{ form_end(form) }}
		</div>
	</body>
</html>
