<!-- filepath: /D:/VS.Code/MySymfony/Symfony_eCom/templates/items/dashBoard.html.twig -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin Dashboard</title>
		<link rel="stylesheet" href="{{ asset('css/dashBoardStyle.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
	</head>
	<body>
		<div
			class="dashboard">
			<div class="sidebar">
				<h2>Dashboard</h2>
				<ul class="nav">
					<li>
						<a href="home">Home</a>
					</li>
					<li>
						<a href="#">Users</a>
						<ul class="submenu">
							<li>
								<a href="#addUser">Add User</a>
							</li>
							<li>
								<a href="#updateUser">Update User</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Products</a>
						<ul class="submenu">
							<li>
								<a href="{{ path('add_item_page') }}">Add Product</a>
							</li>
							<li>
								<a href="{{ path('update-item-page') }}">Update Product</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Orders</a>
						<ul class="submenu">
							<li>
								<a href="#">View Orders</a>
							</li>
							<li>
								<a href="#">Manage Orders</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ path('customers-list') }}">Manage Customer</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}">Logout</a>
					</li>
				</ul>
			</div>
			
		<script>
                function previewImage(event) {
					const input = event.target;
					const reader = new FileReader();
					reader.onload = function () {
					const preview = document.getElementById('imagePreview');
					preview.src = reader.result;
					preview.style.display = 'block';
                };
                reader.readAsDataURL(input.files[0]);
                }
		</script>
        <script src="{{ asset('Pages/WishlistPage/main.js') }}"></script>
	</body>
</html>