<!DOCTYPE html>
<html>
	<head>
		<title>List of Items</title>
	</head>
	<body>
		<h1>List of Items</h1>

		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Stock</th>
					<th>Category</th>
					<th>Image</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.name }}</td>
						<td>{{ item.description }}</td>
						<td>{{ item.price }}</td>
						<td>{{ item.stock }}</td>
						<td>{{ item.category.name }}</td>
						<td>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
