<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Customer Details</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">
		
		<link rel="stylesheet" href="{{ asset('css/Users/customerListStyle.css') }}">
	</head>
	<body>

		{# include dashboard page #}
		{{ include('MyPages/Dashboard/dashBoard.html.twig') }}

		{# include loading message page #}
		{{ include('LoadingMessage/LoadingMessage.html.twig') }}


		<div class="main-content">
			<div class="sectionTest">
				<span></span>
				<h4>Customers</h4>
			</div>
			<div>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Option</th>
						</tr>
					</thead>
					<tbody>
						{% for customer in customers %}
							<tr id="customer-{{ customer.id}}">
								<td>{{ customer.id }}</td>
								<td>{{ customer.firstName }}</td>
								<td>{{ customer.lastName }}</td>
								<td>{{ customer.email }}</td>
								<td>{{ customer.phoneNumber }}</td>
								<td>
									<div class="customer-actions">
										<button type="button" class="btn-delete" onclick="deleteCustomer('{{ customer.id }}')">Delete</button>
										<button type="button" class="btn-something">something...</button>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% if customers|length > 6 %}
				<div class="pagesNumber">
					{% for i in 1..totalPages %}
						<a href="{{ path('customers-list', {'page': i}) }}" class="{{ i == currentPage ? 'active' : '' }}">
							{{ i }}
						</a>
					{% endfor %}
				</div>
			{% endif %}

		</div>
		<script src="{{ asset('Pages/CustomersPage/main.js') }}"></script>
	</body>
</html>
