<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Order Details</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('img/icon/Icon.png') }}">

		<link rel="stylesheet" href="{{ asset('css/orderPageStyle.css') }}">
	</head>
	<body>

		{# include dashboard page #}
		{{ include('MyPages/Dashboard/dashBoard.html.twig') }}

		{# include loading message page #}
		{{ include('LoadingMessage/LoadingMessage.html.twig') }}



		<div class="main-content">
			<div class="sectionTest">
				<span></span>
				<h4>Returns Request</h4>
			</div>

			<div id="overlay"></div>

			<table>
				<thead>
					<tr>
						<th>Customer</th>
						<th>Order Details</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
						<tr id="order-{{ order.orderId }}" class="order-row" data-status="{{ order.statusName }}" style="{% if order.statusName != 'DELIVERED' %}background-color: pink; {% else %}background-color: rgb(165, 220, 183);{% endif %}">
							<td>
								<strong>ID:</strong>
								{{ order.userId }}<br>
								<strong>Username:</strong>
								{{ order.username }}<br>
								<strong>First Name:</strong>
								{{ order.firstName }}<br>
								<strong>Email:</strong>
								{{ order.email }}
							</td>

							{# <td>
									<strong>ID:</strong>
									{{ order.itemId }}<br>
									<strong>Name:</strong>
									{{ order.name }}<br>
									<strong>Unit Price:</strong>
									{{ order.price }} DH
								</td> #}

							<td>
								<input type="hidden" id="inputOrderId" value="{{ order.orderId }}">
								<strong>ID:</strong>
								{{ order.orderId }}<br>
								<strong>Date:</strong>
								{{ order.orderDate|date('Y-m-d') }}<br>
								<strong>Total:</strong>
								{{ order.totalAmount | default('N/A') }}
								DH
							</td>

							<td class="cellOrderStatus">
								<span id="statusName-{{ order.orderId}}">{{ order.statusName }}</span>
							</td>

							<td>
									{# dropdown #}
									<div class="dropdown-container"> <div class="dropdown">
										<button class="dropbtn">Request State
											<svg width="8" height="8" viewbox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M4 6.5L4 1M7 4.5L4 7.5L1 4.5" stroke="rgb(24, 74, 72, 0.5)" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										</button>
										<div class="dropdown-content">
											<button>
												<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M12 2v4M12 18v4M4.93 4.93l2.83 2.83M16.24 16.24l2.83 2.83M2 12h4M18 12h4M4.93 19.07l2.83-2.83M16.24 7.76l2.83-2.83" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>

												Accepted</button>
											<button>
												<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M1 3h15v13H1V3ZM16 9h4l3 4v3h-7V9ZM5 19a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM17 19a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" fill="white"/>
												</svg>

												Declined</button>
											{# <button>
												<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M3 3h18v18H3V3Zm4 8 4 4 7-7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>

												Delivered</button>
											<button>
												<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M12 4V1L8 5l4 4V6c4.418 0 8 3.582 8 8s-3.582 8-8 8-8-3.582-8-8H2c0 5.523 4.477 10 10 10s10-4.477 10-10S17.523 4 12 4Z" fill="white"/>
												</svg>
												Returned</button>
											<button>
												<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="12" cy="12" r="10" stroke="white" stroke-width="2"/>
													<path d="M15 9l-6 6M9 9l6 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
												</svg>

												Canceled</button> #}
										</div>
									</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">No orders available.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


			{% if orders|length > 6 %}
				<div class="pagesNumber">
					{% for i in 1..totalPages %}
						<a href="{{ path('orders-list', {'page': i}) }}" class="{{ i == currentPage ? 'active' : '' }}">
							{{ i }}
						</a>
					{% endfor %}
				</div>
			{% endif %}
			
		</div>

		

		<script>
			function deleteOrder(orderId) {
				if (confirm('Are you sure you want to delete this order?')) {
				console.log(`Deleting order: ${orderId}`);
				// Implement the delete request here.
				}
			}
		</script>
		<script src="{{ asset('Pages/OrderPage/main.js') }}" defer></script>
	</body>
</html>
